**/*.RData
**/*.rdb
**/*.rdx
**/__packages
.Rproj.user
**/*.Rhistory
.RData
**/.RData
**/env/
env/
**/.env
**/.Rhistory

**/*.stan
**/*.rds
**/*.xml
**/presidencia.csv
**/20210802-2130_COMPUTOS-INE-CP2021.csv